<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="add-widget-card">
    <mat-card-header>
      <mat-card-title>Add Widget</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section fxLayout="column" fxLayoutAlign="start center">
        <div>
          <button mat-button (click)="openAddImagesDialog()">
            <mat-icon>add_circle</mat-icon> Image
          </button>
        </div>
        <div>
          <button mat-button (click)="openAddTextDialog()">
            <mat-icon>add_circle</mat-icon> Text Editor
          </button>
        </div>
        <div>
          <button mat-button (click)="openAddSayHelloDialog()">
            <mat-icon>add_circle</mat-icon> Hello Widget
          </button>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>
