<mat-toolbar class="navbar">
  <div>CMS</div>
  <div>
    <button mat-icon-button (click)="toggleEditMode()">
      <mat-icon>{{ buttonIcon }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
<app-preview-page
  *ngIf="!isEditMode"
  [userLoggedIn]="userLoggedIn"
  [images]="images"
  [texts]="texts"
  [showHello]="showHello"
></app-preview-page>
<app-edit-page
  *ngIf="isEditMode"
  (sendImages)="receivedImages($event)"
  (sendText)="receivedText($event)"
  (showHello)="receivedShowHello($event)"
  [images]="images"
  [texts]="texts"
  [showHelloInput]="showHello"
></app-edit-page>
