<section *ngIf="images.length > 0">
  <h1>Current Images</h1>
  <img
    src="{{ img }}"
    alt="image+i"
    *ngFor="let img of images; let index = i"
    (click)="removeImage(img)"
  />
</section>
<form [formGroup]="addImagesForm">
  <input
    type="file"
    formControlName="imageInput"
    (change)="onImageSelected($event)"
  /><br />
  <button type="button" mat-button mat-dialog-close (click)="onCloseClick()">
    Save
  </button>
</form>
