<form [formGroup]="showHelloForm">
  <mat-slide-toggle formControlName="showHello"
    >Show Hello Component</mat-slide-toggle
  >
  <br />
  <button mat-button mat-dialog-close (click)="onClose()">Save</button>
</form>
